body {
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#main-container {
    box-shadow: lightblue 0 0 5px 5px;
    width: 400px;
    margin: 50px auto;
    padding: 15px;
    background-color: lightblue;
}

#menu-button {
    width: 300px;
    height: 50px;
    background-color: lightskyblue;
    border: 0;
    font-size: 20px;
    color: white;
    margin: 0 50px;
}

.question-box {

}

.question {
    font-weight: bold;
    font-size: 20px;
}

#check-button {
    margin: 10px 125px;
    width: 150px;
    height: 50px;
    background-color: lightskyblue;
    color: white;
    border: 0;
}

#menu-button:hover, #check-button:hover {
    background-color: blue;
}
