body {
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#main-container {
    box-shadow: lightblue 0 0 5px 5px;
    width: 400px;
    margin: 50px auto;
    padding: 15px;
    background-color: lightblue;
}

#p1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#p2 {
    text-align: center;
    font-size: 40px;
}

#check-button {
    margin: 10px 125px;
    height: 50px;
    background-color: lightskyblue;
    color: white;
    border: 0;
}

#check-button:hover {
    background-color: blue;
}
